option_settings:
  aws:elasticbeanstalk:application:environment:
    NODE_ENV: production
    NPM_CONFIG_PRODUCTION: true
    NODE_OPTIONS: '--max-old-space-size=4096'
    
  aws:elasticbeanstalk:environment:process:default:
    HealthCheckPath: /api/health
    Port: 3000
    
  aws:autoscaling:asg:
    MinSize: 1
    MaxSize: 3
    
  aws:autoscaling:trigger:
    MeasureName: CPUUtilization
    Statistic: Average
    Unit: Percent
    UpperThreshold: 80
    LowerThreshold: 20
    
  aws:elasticbeanstalk:cloudwatch:logs:
    StreamLogs: true
    DeleteOnTerminate: false
    RetentionInDays: 7
    
  aws:elasticbeanstalk:managedactions:
    ManagedActions