option_settings:
  aws:elasticbeanstalk:container:nodejs:
    NodeVersion: "22.19.0"
    ProxyServer: nginx
    
  aws:elasticbeanstalk:environment:proxy:staticfiles:
    /static: static
    
  aws:elasticbeanstalk:environment:proxy:
    ProxyServer: nginx
    
commands:
  01_install_dependencies:
    command: |
      cd /var/app/staging
      npm install --production=false
      npm run build
      
  02_setup_permissions:
    command: |
      chown -R nodejs:nodejs /var/app